/* ------------ */
/* RESET  */
/* ------------ */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ------------ */
/* FONT  */
/* ------------ */


*{
    font-family: 'Roboto', sans-serif;
}


/* ------------ */
/* COMMON  */
/* ------------ */

ul,
.container-main{
    display: flex;
}

li{
    padding: 5px;
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

img{
    display: block;
    border-radius: 5px;
    
}
/* ------------ */
/* HEADER  */
/* ------------ */

header{
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
}


header ul{
    justify-content: flex-end;
    align-items: center;
    gap: 0.6vw;
    height: 100%;
    padding-right: 0.5vw;
}

header li{
    background-color: rgba(255, 255, 255, 0.368);
    padding: 5px 10px;
    border-radius: 4px;
}

/* HEADER EFFECTS  */
header li:hover{
    background-color: rgba(255, 255, 255, 0.509) ;
}

/* ------------ */
/* MAIN  */
/* ------------ */

main{
    height: calc(100vh - 70px);
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
}
.container-main{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: auto;
    max-width: 95%;
}

.box-main{
    position: relative;
}

.box-mic-name {
    color: white;
    background-color: rgba(0, 0, 0, 0.406);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
}

.fa-microphone-slash{
    color:red
}

/* ------------ */
/* FOOTER  */
/* ------------ */

footer{
    height: 70px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
}

footer .buttons{
    border-radius: 7px;
    padding: 5px 20px;
    text-align: center;
    position: relative;
}

footer .freccia {
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 6px;
    margin: 2px ;
    background-color: #222222;
    z-index: 3;
}

footer .menu-sinistra,
footer .menu-centrale{
    display: flex;
    gap: 10px;
}

footer i{
    font-size: 20px;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.684);

}

footer .fa-angle-up{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.684);
}

footer span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.684);

}

footer .buttons:hover,
footer .freccia:hover{
    background-color: rgba(255, 255, 255, 0.19);
}

footer .menu-destra{
    padding: 7px 17px;
    background-color: rgb(189, 46, 46);
    border-radius: 10px;
}

footer .menu-destra:hover{
    background-color: rgb(212, 31, 31);
}